@model ASM_UI.Models.ms_employee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ms_employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employee_nik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_nik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fl_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fl_active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleted_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleted_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleted_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleted_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.org_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.org_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ip_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ip_address)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
