@model ASM_UI.Models.ms_disposal_type

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ms_disposal_type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.disposal_type_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disposal_type_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disposal_type_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disposal_type_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disposal_by_dept_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disposal_by_dept_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.disposal_type_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
