@model ASM_UI.Models.sy_email_log


<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <h1 class="page-title txt-color-blueDark">

                <!-- PAGE HEADER -->
                <i class="fa-fw fa fa-pencil-square-o"></i>
                System
                <span>
                    >
                    Send New Email
                </span>
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-togglebutton="false" data-widget-collapsed="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Send New Email</h2>
                    </header>
                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            @using (Html.BeginForm("Create", "emailsend", FormMethod.Post, htmlAttributes: new { @class = "smart-form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <header>Send New Email</header>
                                <fieldset>

                                    <fieldset>
                                        <section>
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.elog_from, htmlAttributes: new { @class = "control-label col-md-2" })
                                                </div>
                                                <div class="col-md-8"> <input type="text" value="@Model.elog_from" readonly="readonly" name="elog_from2" id="elog_from2" class="form-control" />
                                                    @Html.HiddenFor(model => model.elog_from)
                                                </div>
                                            </div>
                                        </section>


                                        <section>
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.elog_to, htmlAttributes: new { @class = "control-label col-md-2" })
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.elog_to, new { htmlAttributes = new { @class = "form-control", placeholder = "To EmailAddress" } })
                                                    @Html.ValidationMessageFor(model => model.elog_to, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </section>

                                        <section>
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.elog_cc, htmlAttributes: new { @class = "control-label col-md-2" })
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.elog_cc, new { htmlAttributes = new { @class = "form-control", placeholder = "Cc EmailAddress" } })
                                                    @Html.ValidationMessageFor(model => model.elog_cc, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </section>

                                        <section>
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.elog_bcc, htmlAttributes: new { @class = "control-label col-md-2" })
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.elog_bcc, new { htmlAttributes = new { @class = "form-control", placeholder = "Bcc EmailAddress" } })
                                                    @Html.ValidationMessageFor(model => model.elog_bcc, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </section>

                                        <section>
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.elog_subject, htmlAttributes: new { @class = "control-label col-md-2" })
                                                </div>
                                                <div class="col-md-8">
                                                    @Html.EditorFor(model => model.elog_subject, new { htmlAttributes = new { @class = "form-control", placeholder = "Email Subject" } })
                                                    @Html.ValidationMessageFor(model => model.elog_subject, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </section>

                                        <section>
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-2">
                                                    @Html.LabelFor(model => model.elog_body, htmlAttributes: new { @class = "control-label col-md-2" })
                                                </div>
                                                <div class="col-md-8">
                                                    <textarea name="elog_body" rows="5" class="form-control" placeholder="Email Body"> </textarea>
                                                    @Html.ValidationMessageFor(model => model.elog_body, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </section>

                                    </fieldset>

                                </fieldset>

                                <footer>
                                    <div class="form-group">
                                        <div class="col-md-7">
                                            <input type="submit" value="Send" class="btn btn-primary" />
                                            <input type="reset" value="Reset" class="btn btn-default" />

                                        </div>
                                    </div>

                                </footer>

                            }

                        </div>
                    </div>
                </div>
            </article>

        </div>
    </section>
</div>

@section pagespecific {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#asset_receipt_date').datepicker({
                dateFormat: 'dd-mm-yy',
                prevText: '<i class="fa fa-chevron-left"></i>',
                nextText: '<i class="fa fa-chevron-right"></i>',
            });
        });
    </script>
}
