@model ASM_UI.Models.tr_disposal_bap

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tr_disposal_bap</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.disposal_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disposal_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disposal_dept_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disposal_dept_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fl_disposal_process)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fl_disposal_process)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disposal_bap_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disposal_bap_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disposal_bap_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disposal_bap_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disposal_upload_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disposal_upload_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.disposal_change_dept_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.disposal_change_dept_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fl_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fl_active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleted_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleted_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleted_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleted_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.org_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.org_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.disposal_bap_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
