@model IEnumerable<ASM_UI.Models.tr_disposal_bap>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.disposal_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.disposal_dept_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fl_disposal_process)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.disposal_bap_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.disposal_bap_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.disposal_upload_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.disposal_change_dept_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fl_active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updated_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updated_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deleted_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deleted_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.org_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.disposal_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.disposal_dept_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fl_disposal_process)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.disposal_bap_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.disposal_bap_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.disposal_upload_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.disposal_change_dept_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fl_active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updated_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updated_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deleted_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deleted_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.org_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.disposal_bap_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.disposal_bap_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.disposal_bap_id })
        </td>
    </tr>
}

</table>
