@model IEnumerable<ASM_UI.Models.ms_insurance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ms_country.country_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.insurance_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.insurance_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.insurance_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.insurance_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.insurance_mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.insurance_cp_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.insurance_cp_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.insurance_cp_mail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.insurance_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fl_active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updated_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updated_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deleted_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deleted_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.org_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ms_country.country_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.insurance_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.insurance_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.insurance_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.insurance_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.insurance_mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.insurance_cp_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.insurance_cp_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.insurance_cp_mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.insurance_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fl_active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updated_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updated_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deleted_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deleted_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.org_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.insurance_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.insurance_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.insurance_id })
        </td>
    </tr>
}

</table>
