@model IEnumerable<ASM_UI.Models.tr_asset_warranty>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.asset_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.warranty_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.warranty_item_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.warranty_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.warranty_exp_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.warranty_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fl_active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updated_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.updated_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deleted_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deleted_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.org_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.asset_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.warranty_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.warranty_item_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.warranty_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.warranty_exp_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.warranty_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fl_active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updated_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.updated_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deleted_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deleted_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.org_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.warranty_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.warranty_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.warranty_id })
        </td>
    </tr>
}

</table>
