@model ASM_UI.Models.tr_asset_registration

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tr_asset_registration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.asset_type_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asset_type_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asset_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asset_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.company_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asset_reg_location_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asset_reg_location_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asset_reg_pic_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asset_reg_pic_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asset_po_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asset_po_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asset_do_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asset_do_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asset_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asset_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asset_merk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asset_merk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asset_serial_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asset_serial_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vendor_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vendor_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asset_receipt_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asset_receipt_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asset_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asset_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fl_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fl_active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updated_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleted_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleted_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleted_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleted_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.org_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.org_id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
